<?xml version="1.0"?>
<launch>
    <param name="robot_description" textfile="$(find iiwa14)/urdf/iiwa14.urdf" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>

    <node name="rviz" pkg="rviz" type="rviz"/>
</launch>